// main: style.scss

$content-width: 1170px;

$font-default: 'Rubik', sans-serif;

$main-color: #017AA0;
$main-color_light: #0DACCE;
$main-color_lighten: #B1D6DC;
$secondary-color: #FF0000;
$grey: #0F0F0F;
$grey_dark: #404040;
$grey_light: #F6F6F6;
